.advantage {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px 40px;
    margin-bottom: 30px;
}

.title {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.vline {
    height: auto;
    border-left-color: $lgray;
    color: $lgray;
    opacity: .4;
    margin: 5px auto 2px;
}