.review {
    display: grid;
    grid-template-columns: [start] auto 1fr auto auto [end];
    align-items: center;

    gap: 10px;
    font-size: 14px;
    line-height: 24px;

    @media (max-width: 767px) {
        grid-template-columns: [start] 30px [titlestart] auto [dateend] 1fr [end];
    }
}

.title {
    @media (max-width: 767px) {
        grid-column: titlestart / end;
    }

    @media (max-width: 359px) {
        grid-column: start / end;
    }
}

.name {
    font-weight: 700;
}

.description {
    grid-column: start / end;
}

.hr {
    grid-column: start / end;

    border-top: 1px solid $lgray;
    margin: 20px 0;
}

.date {
    margin-right: 10px;

    @media (max-width: 767px) {
        grid-column: start / dateend;
    }

    @media (max-width: 359px) {
        grid-column: start / end;

        margin-right: 0;
    }
}

.rating {
    @media (max-width: 359px) {
        grid-column: start / end;
    }
}

