.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px 40px;
    background: $primary;
    padding: 25px 30px;
    color: $white;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        padding: 25px 20px;
    }

    a {
        display: inline-block;
        &:hover {
            opacity: .8;
        }
    }
}