.star {
    svg {
        margin-right: 5px;
        transition: fill .1s ease;
        &:not(&:focus-visible) {
            outline: none;
        }
    }

    &.editable {
        cursor: pointer;
    }

    &.filled svg {
        fill: $primary;
    }
}

.error svg {
    stroke: $red;
}

.ratingWrap {
    position: relative;
}

.errorMessage {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: $red;
    position: absolute;
    left: 0;
    bottom: -15px;
}