$black: #3B434E;
$lgray: #ebebeb;
$dgray: #787D85;
$white: #ffffff;
$primary: #7653FC;
$primary-hover: #592fff;
$red: #FC836D;
$lred: #ffcbc2;
$green: #1DC37E;
$lgreen: #C8F8E4;

$ff: 'Roboto',
sans-serif;